[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
	ignore = dirty
[submodule "libdogecoin"]
	path = libdogecoin
	url = https://github.com/dogecoinfoundation/libdogecoin.git
	branch = main
	ignore = dirty
