[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
	dirty = false
[submodule "libdogecoin"]
	path = libdogecoin
	url = https://github.com/alexanvl/libdogecoin.git
	dirty = false
